<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TODOS</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create-task">add a new task</a></li>
    </ul>
  </nav>
  <h1>Things to do</h1>
  <% for(let i = 0; i < todoArray.length; i++){ %>

    <div class="<%=todoArray[i].category %>">
      <!-- <a href="/task?id=<%=todoArray[i].id %>"><h2><%= todoArray[i].title %></h2></a> -->
      <a href="/task/<%=todoArray[i].id %>">
        <h2><%= todoArray[i].title %></h2>
      </a>
      <p>Contact <%= todoArray[i].contact %> because <%=todoArray[i].description %></p>
      <p><%= todoArray[i].status %>, <%= todoArray[i].due %></p>
    </div>

  <% } %>

</body>
</html>

