<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <%-include('partials/nav.ejs') %>

  <div class="<%=theTask.category %>">
    <h2><%= theTask.title %></h2>
    <p>Contact <%= theTask.contact %> because <%=theTask.description %></p>
    <p><%= theTask.status %>, <%= theTask.due %></p>
  </div>
</body>
</html>