<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book App</title>

  <link rel="stylesheet" href="styles/styles.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <header>
    <nav>
      <span>Book App</span>
      <i class="fa fa-bars">italics</i>
      <a href="/">home</a>
      <a href="/search">search for stuff</a>
      <a href="/hello">hello</a>
    </nav>
  </header>

  <main>
    <h3 class="center"><span id="count"><%=  booksArray.length %></span> Books</h3>
    <div class="content">
      <% booksArray.forEach(book => { %>
      <% if (book.image_url) { %>
      <img src="<%= book.image_url %>" />
      <% } %>
      <h2><%= book.title %> </h2>
      <h3><%= book.author %> </h3>
      <h4><%= book.isbn %> </h4>
      <h3><%= book.category %> </h3>
      <p><%= book.summary %> </p>
      <% }) %>
    </div>
  </main>
</body>

</html>